.brands-and-companies{
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: rgb(222, 239, 239);
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 40px;
}