.oil-and-gas{
  background-color: rgb(251, 246, 246);
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(231, 231, 231);
}