.popular-category{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  width: 100%;
}
.overall{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}